<template name="imageUploader">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1>Image</h1>
            <span style="font-size:15px; margin-left:10px;">
            <div class="form-group">
                <label for="selectFile">Choose an image</label>
                <input type="file" class="uploadFile" id="uploadFile">
                <p class="help-block">Upload image here.</p>
            </div>
                <hr>
                <div class="form-group">
                    <input type="file" name="file" id="file" class="inputfile inputfile-4" />
                    <label for="file"><strong>Choose a file</strong></label>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                            <span class="sr-only">{{progress}}% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            </span>
        </div>
    </div>

    {{isUploading}}

    <!--<div class="container">-->
        <!--<div class="col-md-6">-->
            <!--<strong>Uploaded image:</strong>-->
            <!--<img class="profileImageSize" src="{{url.imageurl}}"/>-->
        <!--</div>-->
    <!--</div>-->
</template>