/* Boton JS subir*/
#ir-arriba{
    display:none; /*permite ocultar el boton al cargar la pagina*/
    position: fixed;
    padding:20px;
    background: #222222;
    cursor:pointer;
    bottom:20px;
    right:20px;
    border-radius: 50px;
}

.profileImageSize{
    width: 200px;
}
.imageSmall{
    height: 28px;
    width: 46px;
}

.botones-post-list{
    margin-left: 8px;
}
.image-reset{
    height: 196px;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
}
#icono-header{
    display:inline-block;
    width: 42px;
    height: 42px;
    background:url("img/reddit-header-icono-default.png");
    background-repeat: no-repeat;
}
#icono-header:hover{
    display:inline-block;
    width: 42px;
    height: 42px;
    background:url("img/reddit-header-icono-hover.png");
    background-repeat: no-repeat;
}
a:hover, a:focus {
    text-decoration: none !important;
}
.navbar{
    font-size: 15px !important;
}
a #icono-header:focus{
    text-decoration: none;
}
.comments-find{
    padding-left: 0;
}