.profileImageSize{
    width: 200px;
}
.imageSmall{
    height: 28px;
    width: 46px;
}

/*.inputfile {*/
    /*width: 0.1px;*/
    /*height: 0.1px;*/
    /*opacity: 0;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*z-index: -1;*/
/*}*/
/*.inputfile + label {*/
    /*cursor: pointer; !* "hand" cursor *!*/
    /*font-size: 1.25em;*/
    /*font-weight: 700;*/
    /*color: white;*/
    /*background-color: black;*/
    /*display: inline-block;*/
/*}*/
/*.inputfile:focus + label {*/
    /*outline: 1px dotted #000;*/
    /*outline: -webkit-focus-ring-color auto 5px;*/
/*}*/
/*.inputfile + label:hover {*/
    /*background-color: red;*/
/*}*/
/*.inputfile + label * {*/
    /*pointer-events: none;*/
/*}*/