<template name="postItem">
    <div class="post">
            <a href="#" class="vote btn btn-default {{upVotedClass}}">+</a>
            <a href="#" class="vote btn btn-default {{downVotedClass}}">-</a>

        <div class="post-content ">
            <h3><a href="{{url}}">{{title}}</a><span class="domain">{{domain}}</span></h3>
            <p>
                {{pluralize votes "Vote"}},
                submitted {{livestamp submitted}} by <img class="imageSmall" src="{{smallAvatar.profile.profPicture}}"/>
                <a class="author" href="{{pathFor 'userFind' username= author}}">{{author}} </a>,
                <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
                <!--{{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}-->
            </p>
        </div>

            <a href="{{pathFor 'postPage'}}" class="botones-post-list discuss btn btn-default">Discuss</a>
            {{#if ownPost}}
                <a href="{{pathFor 'postEdit'}}" class="discuss btn btn-default">Edit</a>
            {{/if}}
    </div>
</template>
<!--asdasd asd asd-->