<template name="commentItemFind">
    <li>
        <h4>
            <p>
                <a href="#" class="vote btn btn-default {{upVotedClass}}">+</a>
                <a href="#" class="vote btn btn-default {{downVotedClass}}">-</a>
                <img class="imageSmall" src="{{smallAvatar.profile.profPicture}}"/>
                <span class="author">{{author}}
                    <span>{{pluralize votes "Vote"}}</span>
                    <span style="font-size:12px">{{livestamp submitted}}</span>
                        <a href="#" class="findPost botones-post-list discuss btn btn-default {{findPost}}">Go to post</a>
                </span>
            </p>
        </h4>
        <p>{{body}}</p>
    </li>
</template>