<template name="changePassword">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h3 class="page-header">Change password</h3>
            <form id="change-password" class="change-password">
                <div class="form-group">
                    <label for="current-password">Current password</label>
                    <input type="password" id="current-password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="new-password">New Password</label>
                    <input type="password" id="new-password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="confirm-new-password">Confirm Password</label>
                    <input type="password" id="confirm-new-password" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</template>