<template name="register">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h3 class="page-header">Register</h3>
            <form id="signup" class="signup">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" placeholder="choose a username">
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email Address</label>
                    <input type="email" id="email" class="form-control" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" placeholder="password">
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" id="password-again" class="form-control" placeholder="verify password">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
</template>