<template name="header">
    <div id="header" role="banner">
            <div id="header-bottom-left">
                <a id="header-img" class="default-header" title="" href="{{pathFor 'home'}}">reddit.com</a> <!--IMAGEN LOGO REDDIT DESACTIVADA-->
                <a id="icono-header" href="{{pathFor 'home'}}"></a>
                <span class="hover pagename redditname">
                     <a href="{{pathFor 'home'}}">Reddit</a> <!--TITLE-->
                 </span>
            </div>
    </div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed fix-cerrar" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'home'}}">Reddit</a>
        </div>

        <div class="collapse navbar-collapse fix-cerrar" id="navigation" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li class="{{activeRouteClass 'newPosts'}} cerrar-menu">
                    <a href="{{pathFor 'newPosts'}}">New</a>
                </li>
                <li class="{{activeRouteClass 'bestPosts'}}">
                    <a href="{{pathFor 'bestPosts'}}">Best</a>
                </li>

                {{#if currentUser}}
                    <li class="{{activeRouteClass 'postSubmit'}}">
                        <a href="{{pathFor 'postSubmit'}}">Submit Post</a>
                    </li>
                    <li class="dropdown">
                        {{> notifications}}
                    </li>
                {{/if}}

                <li class="{{activeRouteClass 'searchMain'}}">
                    <a href="{{pathFor 'searchMain'}}">Search</a>
                </li>
            </ul>
            {{>userHeaderMenu}}
        </div>
    </nav>
</template>